/*this is the corresponding stylesheet for my flexbox learning*/

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  font-family: fantasy;
  color: white;
  padding: 8;
  font-style: oblique;
  font-size: 30;
}

.container {
border: 5px solid #ffcc5c;
display: flex;
flex-direction: row;
justify-content: center;
padding: 10;

}

.home {
  padding:12;
  color: pink;
}

.about {
  padding: 12;
  color: white;
}

.contact {
  padding: 12;
  color: hotpink;
}
